
/* Choose a nice color and font-family for headers (<h1>, <h2>, <h3>)
Choose harmonious font-size and line-height for headers
Hint: small headers are more elegant.
If you check out any website (Medium, Airbnb, etc.), you’ll see that the font-size of their headers is quite small.
 */

head {
  color: #20261f ;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  line-height: 50px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.book {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10%;
  max-width: 100%;
  height: auto;
}

body {
  background-color: #D0B8A8 ;
  color: #20261f ;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 100px;
  margin: 0 auto
}

h1 {
  text-align: center;
  color: #000000 ;
}

h3 {
  margin: 40px auto
}

div {
  background-color: #ffffff ;
  border: 2px solid  black;
  border-radius: 4px;
  box-shadow: 0 10 px 30px rgba(0,0,0,.1);
  font-weight: 600px;
  padding: 30px;
  width: 800px;
  margin: 20px auto;
}

.icon-container {
  display: flex;
  gap: 20px;
  justify-content: center;

}


.icon {
  color: #401a00;
  display: inline-block;
  font-size: 36px;

 }
